name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - "2.7.0"
          - "3.1.0"

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Lint with rubocop
        run: bundle exec rubocop
      - name: Test
        run: bundle exec rspec
      - name: Publish code coverage
        uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: coverage/.resultset.json
